<!DOCTYPE html>
<html lang="en">
<head>
	<!--<meta http-equiv="refresh" content="5" >-->	
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
	<a class="navbar-brand" href="index.html">Start Bootstrap</a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
	  <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
		  <a class="nav-link" href="/dashboard">
			<i class="fa fa-fw fa-dashboard"></i>
			<span class="nav-link-text">Dashboard</span>
		  </a>
		</li>
	  </ul>
	</div>
  </nav>
  <div class="content-wrapper">
	<div class="container-fluid">
	  <ol class="breadcrumb">
		<li class="breadcrumb-item">
		  <a href="#">Dashboard</a>
		</li>
		<li class="breadcrumb-item active">My Dashboard</li>
	  </ol>
	  <div class="row">
		<div class="col-xl-3 col-sm-6 mb-3">
		  <div class="card text-white bg-primary o-hidden h-100">
			<div class="card-body">
			  <div class="card-body-icon">
				<i class="fa fa-fw fa-comments"></i>
			  </div>
			  <div class="mr-5"><span id="message-count">0</span> Hour count</div>
			</div>
			<a class="card-footer text-white clearfix small z-1" href="#">
			  <span class="float-left">View Details</span>
			  <span class="float-right">
				<i class="fa fa-angle-right"></i>
			  </span>
			</a>
		  </div>
		</div>
		<div class="col-xl-3 col-sm-6 mb-3">
		  <div class="card text-white bg-warning o-hidden h-100">
			<div class="card-body">
			  <div class="card-body-icon">
				<i class="fa fa-fw fa-list"></i>
			  </div>
			  <div class="mr-5">0 Day count</div>
			</div>
			<a class="card-footer text-white clearfix small z-1" href="#">
			  <span class="float-left">View Details</span>
			  <span class="float-right">
				<i class="fa fa-angle-right"></i>
			  </span>
			</a>
		  </div>
		</div>
		<div class="col-xl-3 col-sm-6 mb-3">
		  <div class="card text-white bg-success o-hidden h-100">
			<div class="card-body">
			  <div class="card-body-icon">
				<i class="fa fa-fw fa-shopping-cart"></i>
			  </div>
			  <div class="mr-5"><span id="order-count">0</span> Week count</div>
			</div>
			<a class="card-footer text-white clearfix small z-1" href="#">
			  <span class="float-left">View Details</span>
			  <span class="float-right">
				<i class="fa fa-angle-right"></i>
			  </span>
			</a>
		  </div>
		</div>
		<div class="col-xl-3 col-sm-6 mb-3">
		  <div class="card text-white bg-danger o-hidden h-100">
			<div class="card-body">
			  <div class="card-body-icon">
				<i class="fa fa-fw fa-support"></i>
			  </div>
			  <div class="mr-5">0 Month count</div>
			</div>
			<a class="card-footer text-white clearfix small z-1" href="#">
			  <span class="float-left">View Details</span>
			  <span class="float-right">
				<i class="fa fa-angle-right"></i>
			  </span>
			</a>
		  </div>
		</div>
		</div>
	<!--
	  <div class="row">
		<div class="col-lg-8">
		  <div class="card mb-3">
			<div class="card-header">
			  <i class="fa fa-bar-chart"></i> Revenue Chart</div>
			<div class="card-body">
			  <div class="row">
				<div class="col-sm-8 my-auto">
				  <canvas id="myBarChart" width="100" height="50"></canvas>
				</div>
				<div class="col-sm-4 text-center my-auto">
				<div class="h4 mb-0 text-primary">$34,693</div>
                      <div class="small text-muted">YTD Revenue</div>
                      <hr>
                      <div class="h4 mb-0 text-warning">$18,474</div>
                      <div class="small text-muted">YTD Expenses</div>
                      <hr>
                      <div class="h4 mb-0 text-success">$16,219</div>
                      <div class="small text-muted">YTD Margin</div>
				</div>
			  </div>
			</div>
			<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
		  </div>
		</div>
	
		
		
		</div>
	-->
	<div class="row">
		<div class="col-lg-6 col-sm-12   my-auto ">
		<div>
		<img src="https://facialdiag.blob.core.windows.net/heatimage/newimage.jpg" id="imagena"></div>
		</div>
		<div class="col-lg-6 col-sm-12  mb-3 my-auto">
		<div id="graph"></div></div>
		</div>
		<!-- Example DataTables Card-->
		<!--
	  <div class="card mb-3">
		<div class="card-header">
		  <i class="fa fa-table"></i> Customer Order Record</div>
		<div class="card-body">
		  <div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
			  <thead>
				<tr>
				  <th>Name</th>
				  <th>Position</th>
				  <th>Office</th>
				  <th>Age</th>
				  <th>Start date</th>
				  <th>Salary</th>
				</tr>
			  </thead>
			  <tfoot>
				<tr>
				  <th>Name</th>
				  <th>Position</th>
				  <th>Office</th>
				  <th>Age</th>
				  <th>Start date</th>
				  <th>Salary</th>
				</tr>
			  </tfoot>
			  <tbody id="customer-table">
			  </tbody>
			</table>
		  </div>
		</div>
		<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
	  </div>
	</div>
	<footer class="sticky-footer">
	  <div class="container">
		<div class="text-center">
		  <small>Copyright © Your Website 2018</small>
		</div>
	  </div>
	</footer>-->
</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- Page level plugin JavaScript-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://js.pusher.com/4.0/pusher.min.js"></script>
	<script src="{{ url_for('static', filename='js/customer.js') }}"></script>
	<script src="{{ url_for('static', filename='js/order.js') }}"></script>
	<script src="{{ url_for('static', filename='js/message.js') }}"></script>
	<script>window.onload = function() {
			var image = document.getElementById("imagena");
	
			function updateImage() {
					image.src = image.src.split("?")[0] + "?" + new Date().getTime();
			}
	
			setInterval(updateImage, 1000);
	}</script>
  </div>
</body>
</html>